<div class="admin-content-page-over">
    <div class=" container-fluid top-page-padding">
        {{!-- Header --}}
      
        <!-- Basic Layout -->
        <p>Content Here</p>
        <p>Fixed padding and top margin</p>
        <p>Only use your content paste here</p>



    </div>
</div>
</div>
{{!-- Sidebar Action --}}
<script>
    document.getElementById('overview').classList += " active"
</script>