<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <aside id="layout-menu" class="layout-menu " style="z-index: 1;">
            <ul class="menu-inner "></ul>
        </aside>

        <div class=" container-fluid">
            {{!-- Conternt Here --}}
        </div>
    </div>
</div>

{{!-- Check active page --}}
<p id="check-active-page" hidden>{{NOW_CAT}}</p>


<script>
    document.getElementById('products').classList += " active open"
    let check = document.getElementById('check-active-page').innerHTML
    check = "pro"+check
    document.getElementById(check).classList += " active"
</script>