
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="/admin" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <img class="logo-icon" src="/images/icon/logo.png" alt="Logo">
                            </span>
                            <span class="app-brand-text demo text-body fw-bold">Bristles</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Admin Sign In</h4>
                    <p class="mb-4">Only allow to admin</p>

                    <form id="formAuthentication" onsubmit="return SingIn()" class="mb-3" action="/admin/sign-in"
                        method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="Enter email address" autofocus />
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Password</label>

                            </div>
                            <div class="input-group input-group-merge">
                                <input type="password" id="password" class="form-control" name="password"
                                    placeholder="Password" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer" id="eyeIcon" onclick="viewPassword()"><i
                                        class="bx bx-hide"></i></span>
                            </div>
                        </div>
                        {{!-- Alert Box --}}
                        <p id="alertBox" style="display: none;" class="form-alert-error">Error </p>
                        {{#if error}}
                        <p  class="form-alert-error">{{error}}</p>
                        {{/if}}

                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                        </div>
                    </form>


                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>

<!-- / Content -->

{{!-- View password --}}
<Script>
    function viewPassword() {
        let password = document.getElementById("password")
        let icon = document.getElementById('eyeIcon')
        if (password.type === "password") {
            password.type = "text"
            icon.innerHTML = `<i class='bx bx-show'></i>`
        } else {
            password.type = "password"
            icon.innerHTML = `<i class='bx bx-hide'></i>`

        }
    }
    function SingIn() {
        let box = document.getElementById('alertBox')
        let form = document.forms[0]["email", "password"].value;
        if (form == "") {
            box.style.display = 'block'
            box.innerHTML = "Please fill the form"
            return false
        }
    }
</Script>