<!-- Layout wrapper -->
<div>

    <!-- Menu -->

    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme sidebar-main-div">
        <div class="app-brand demo">
            <a href="/artist" class="app-brand-link">
                <span class="app-brand-logo demo">
                    <img class="logo-icon" src="/images/icon/logo.png" alt="Logo">
                </span>
                <span class="app-brand-text demo menu-text fw-bold ms-2">Bristles</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
        </div>

        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item " id="overview">
                <a href="/artist" class="menu-link">
                    <i class="menu-icon tf-icons bx bxs-pie-chart-alt-2"></i>
                    <div data-i18n="Analytics">Overview</div>
                </a>
            </li>
            <li class="menu-item " id="profile">
                <a href="/artist/profile" class="menu-link">
                    <i class="menu-icon tf-icons bx bxs-user-circle"></i>
                    <div data-i18n="Analytics">Profile</div>
                </a>
            </li>
            <li class="menu-item" id="pending">
                <a href="/artist/pending-list" class="menu-link">
                    <i class="menu-icon tf-icons bx bxs-hourglass-top"></i>
                    <div data-i18n="Basic">Pending products</div>
                </a>
            </li>
            <li class="menu-item" id="product">
                <a href="/artist/product-list" class="menu-link">
                    <i class="menu-icon tf-icons bx bxs-image"></i>
                    <div data-i18n="Basic">Products</div>
                </a>
            </li>
            <li class="menu-item" id="sign-out">
                <a href="/artist/sign-out" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-power-off "></i>
                    <div data-i18n="Basic">Sign Out</div>
                </a>
            </li>






        </ul>
    </aside>
    <!-- / Menu -->


</div>



<!-- / Layout wrapper -->