
<div class="modal " id="smallAlert" tabindex="-1" style="display: none;"  >
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p id="smallAlertText">Are Sure Delete this Product ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="BSconfirmCancel()" id="smallAlertCancel"  class="btn btn-outline-secondary" >
                    Cancel
                </button>
                <button type="button" onclick="BSconfirmBox()" id="smallAlertOk"  class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
