
<div class="modal fade" id="smallAlert" tabindex="-1" style="display: none;"  aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          
                <button type="button" id="smallAlertCancelIcon" class="btn-close close-button"  aria-label="Close"></button>
            <div class="modal-body">
                <p id="smallAlertText">Are Sure Delete this Product ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="smallAlertCancel"  class="btn btn-outline-secondary" >
                    Cancel
                </button>
                <button type="button" id="smallAlertOk"  class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
