{{>user-top}}
<div class="check-account container">
    <div class="box-boreder ">
        <div>
            <img class="" src="/images/icon/order-success.png" alt="">
            <h4 class="mt-3">Thank you! <br> Your order was successfully submitted! <br>
            <a href="/order" class="btn btn-primary mt-3">View Orders</a></h4>
        </div>
    </div>
</div>