/* Navbar */
.user-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}

.user-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-header .bottom {

    width: 100%;
    margin-bottom: 10px;
}

.user-header .right a {
    display: flex;
    align-items: center;

}

.user-header .right img {
    width: 35px;
    height: 35px;
}

.user-header .right h3 {
    color: white;
    margin-top: 15px;
    margin-left: 8px;
}

.user-header .left {
    display: flex;
    align-items: center;
}

.user-header .left .items {
    display: flex;
    align-items: center;
}

.user-header .left .items .search-icon, .user-header .bottom .search-icon {
    font-size: 23px;
}

.user-header .left .icon-div {
    padding: 5px 5px 5px 5px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;

}

.user-header .left .icon-div i {
    font-size: 30px;
}

/* User Page Commen */

.user-page, .user-search-page {
    margin-top: 57px;
}

@media (max-width:575px) {
    .user-page {
        margin-top: 56px;
    }

    .user-search-page {
        margin-top: 105px;
    }
}



/* Slider */
.slider {
    width: 100%;
    overflow: hidden;
    height: fit-content;
}

.slider img {
    width: 100%;
}

/* product list */
.card-rate {
    display: flex;
}

.card-rate p {
    margin: 0;
}

.card-rate .favorite {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.card-rate .favorite i {
    color: red;
}

.card-boarder p, .card-boarder h5, .card-boarder h4, .card-boarder h6 {
    margin: 0;
}

.card-boarder .card-price {
    display: flex;
    align-items: center;
}

.card-body>h5 {
    color: rgb(0, 113, 148);
}


.card-boarder .card-price :nth-child(2) {

    margin-left: 3px;
    text-decoration: line-through;
}

.card-boarder .card-price :nth-child(3) {
    margin-left: 3px;
    color: green;
    font-size: 14px;
}

.card-boarder .card-price :nth-child(4) {
    font-weight: 400;
    font-size: 12px;
    color: green;
}

.card .heart-icon {
    background-color: rgba(255, 255, 255, 0.562);
    color: white;
    /* color: red; */
    position: absolute;
    top: 10px;
    right: 10px;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: 2px 0 0 2px;
}

/* Search */
/* Filter */
.filter-logo {
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 122, 223);
    display: flex;
    align-items: center;
}

.filter-logo i {
    font-size: 30px;
}

/* View Product*/
.add-cart-button i {
    font-size: 27px;
    margin-right: 10px;
}

/* Edit User */
.camera-icon-div {
    position: relative;
}

.camera-icon-div .camera-icon {
    background-color: black;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -10px;
    bottom: -10px;
    cursor: pointer;
    border: 2px solid white;
}

.camera-icon-div .camera-icon i {
    color: white;
}

/* Footer */
.footer .icon-div {
    display: flex;
    height: 100%;
    align-items: center;

}

.footer .icon-div h3 {
    color: white;
    margin: 0;
    margin-left: 10px;

}

.footer .icon {
    width: 35px;
    height: 35px;

}


/* Carousel */
.carousel-div>div {
    position: relative;
    margin-top: 20px;
}

.carousel-div>div>img {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: 2px 0px 34px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 0px 34px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 0px 34px -10px rgba(0, 0, 0, 0.75);
}

.carousel-div>div>.icon {
    background-color: red;
    font-size: 25px;
    position: absolute;
    top: -10px;
    right: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;

}

.carousel-div>div>.icon>i {
    color: white;
    font-size: 25px;
}

.add-carousel{
    display: flex;
    align-items: center;
}
.add-carousel p{
    margin: 0;
    margin-right: 10px;
}