{{>admin-top}}
{{>admin-side}}
<div class="admin-content-page-over">

    <div class=" container-fluid top-page-padding">
        <div class="d-flex justify-content-center align-items-center" style="height: 70vh;">

            <div>
                <div style="width: 100%; " class="d-flex justify-content-center">
                    <img style="width: 100px;" src="/images/icon/blocked.png" alt="">
                </div>
                <h4 class="m-0 mt-3">Request is not valid</h4>
                <p class="text-center">Check your URL and API keys</p>
            </div>

        </div>
    </div>

</div>

