<div class="container  ">
    <div class="  ">
        <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div>
                <div style="width: 100%; " class="d-flex justify-content-center">
                    <img style="width: 350px;" src="/images/icon/404.gif" alt="">
                </div>
                <h4 class="m-0 mt-3 text-center">Page Not Found</h4>
                <p class="text-center">Check your URL and API keys</p>
                <p class="text-center "><a href="/" class="text-dark">Go to Home</a></p>
            </div>

        </div>
    </div>
</div>