<div class="check-account container">
    <div class="box-boreder ">
        <div>
            <img class="" src="/images/icon/blocked.png" alt="">
            <h4 class="mt-3">YOUR ACCOUND BLOCKED <br>
            <P class="mt-3">Hi {{artist.userName}}, Your Email Address {{artist.email}} has been blocked due to serious problems</P>
            <a href="/" class="btn btn-primary mt-3">HOME PAGE</a></h4>
        </div>
    </div>
</div>