<div class="check-account">
    <div class="box-boreder ">
        <img class="" src="/images/icon/verifying.gif" alt="">
        <div>
        <h4>Your account will be activated within 24 hours</h4>
        </div>
    </div>
</div>