{{>artist-top}} {{>artist-side}}

<div class="admin-content-page-over">
    <div class=" container-fluid top-page-padding">
        {{!-- Header --}}
      
       <h1>Artist Home Page</h1>



    </div>
</div>
</div>
{{!-- Sidebar Action --}}
<script>
    document.getElementById('overview').classList += " active"
</script>
