<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <!-- Favicon -->
  <link rel="icon" href="/images/favicon/logo.png">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="/assets/css/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

  <!-- Page CSS -->
  <link rel="stylesheet" href="/assets/vendor/css/pages/page-auth.css" />
  <!-- Helpers -->
  <script src="/assets/vendor/js/helpers.js"></script>

  <script src="/assets/js/config.js"></script>

  {{!--CSS Links --}}
  <link rel='stylesheet' href='/stylesheets/commen.css' />
  <link rel='stylesheet' href='/stylesheets/admin/style.css' />
  <link rel='stylesheet' href='/stylesheets/user/style.css' />
  <link rel='stylesheet' href='/stylesheets/artist/style.css' />

  {{!-- ajax and jqury Table --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

  {{!-- Razore Pay --}}
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>

<body>

  {{{body}}}

  {{!-- Alert --}}
  {{#if success}}
  <div class=" admin-alert">
    <div class="alert alert-success alert-dismissible" role="alert">{{success}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {{/if}}
  {{#if error}}
  <div class=" admin-alert">
    <div class="alert alert-danger alert-dismissible" role="alert">{{error}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {{/if}}
  <div id="customAlerts"></div>


  {{!-- {{>yes-or-no}} --}}
  {{!-- JavaScripts --}}
  {{!-- <script src="/javascripts/admin/admin-dashboard-helper.js"></script> --}}
  <script src="/javascripts/admin/product-help.js"></script>
  <script src="/javascripts/commen/custom-alert.js"></script>
  <script src="/javascripts/commen/print.js"></script>
  <script src="/javascripts/commen/javascript.js"></script>
  <script src="/javascripts/user/serach-filter.js"></script>
  <script src="/javascripts/user/cart.js"></script>
  <script src="/javascripts/user/order.js"></script>
  <script src="/javascripts/user/validation.js"></script>
  <script src="/javascripts/user/javascript.js"></script>

  <!-- Core JS -->
  <script src="/assets/vendor/libs/popper/popper.js"></script>
  <script src="/assets/vendor/js/bootstrap.js"></script>
  <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="/assets/vendor/js/menu.js"></script>

  <!-- Main JS -->
  <script src="/assets/js/main.js"></script>

  {{!-- Razore Pay --}}
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</body>

</html>